body,h1,h2,h3,h4,h5,h6 {font-family: "Consolas", sans-serif;}
body, html {
  height: 100%;
  color: #00FF00;
  line-height: 3;
  background-color: black;
}

/* Scroll parallax */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('sdsd.gif');
  min-height: 100%;
  opacity: 1;
}

.bgimg-2 {
  background-image: url("sdsd.gif");
  min-height: 400px;
  opacity: 1;
}

.bgimg-3 {
  background-image: url("sdsd.gif");
  min-height: 400px;
}

.typewriter {
  color: #0f0;
  font-family: Consolas, monospace;
  font-size: 40px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .16em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(30, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lime }
}

.epic-style, .w3-hover-white:hover {
    color: #0f0;
    background-color: black;
}

.carlos-trollface {
    color: #0f0;
    background-color: transparent;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Phones and tablets will not pertain the parallax scrolling effect */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
